* {
  margin: 0;
  padding: 0;
}

body {
  background: #87ceeb;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.home {
  overflow: hidden;
}

/* menu */
nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.menu__logo,
.menu__items-link {
  padding: 40px;
}

.menu__logo a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__items {
  display: flex;
}

.menu__items-link a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.menu__items-link.active a {
  text-decoration: underline;
}

/* horizontal scroll items  */

.container {
  margin-top: 200px;
  margin-left: 200px;
}

.container__item {
  position: relative;
  width: 540px;
  height: 360px;
  margin: 50px 500px 20px 80px;
}

.container__item-header h1 {
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  width: 600px;
  height: 360px;
  font-size: 100px !important;
}

.container__item h1 {
  position: absolute;
  left: 40px;
  bottom: -40px;
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: lighter;
  font-size: 64px;
}

.container__item-title a {
  color: #fff;
  text-decoration: none;
}

.container__item-1 {
  background: url(../img/nice.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-2 {
  background: url(../img/palolem.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-3 {
  background: url(../img/urugambay.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-4 {
  background: url(../img/elnido.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-5 {
  background: url(../img/muine.jpg) no-repeat 50% 50%;
  background-size: cover;
}

@media (max-width: 900px) {
  .container__item {
    width: 300px;
    height: 200px;
    margin: 50px 100px 20px 80px;
  }

  .container__item-header h1 {
    font-size: 30px !important;
    left: -50%;
  }

  .container__item h1 {
    font-size: 40px;
    bottom: -20px;
  }
}

#js-scroll {
  height: 200%;
}

.about__container {
  width: 50%;
  margin: 180px 0 100px 100px;
  padding: 40px;
}

.about__container p {
  margin: 60px 0;
  color: #fff;
  font-size: 46px;
  font-weight: 400;
  z-index: 2;
}

.about__container p span {
  font-family: "Julius Sans One", sans-serif;
}

.about__container-contact-link a {
  color: #fff;
}

p.about__container-link {
  font-size: 26px;
}

.about__container-link a {
  color: #fff;
  font-size: 26px;
}

.cursor-follow {
  position: absolute;
  background: url(../img/efim.jpg) no-repeat 50% 50%;
  background-size: cover;
  width: 300px;
  height: 400px;
  z-index: -1;

  user-select: none;
  pointer-events: none;
  transform: translate(5px, 5px);
}

@media (max-width: 900px) {
  .about__container {
    width: 70%;
    margin: 140px 0 60px 40px;
  }

  .cursor-follow {
    display: none;
  }
}

.project__container {
  width: 70%;
  margin: 100px auto;

  color: #fff;
  padding: 120px 40px;
  text-align: center;
}

.project__container-title h1 {
  color: #fff;
  font-family: "Julius Sans One", sans-serif;
  font-size: 140px;
}

.project__container-subtitle {
  margin: 20px 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

.project__container-images {
  position: relative;
  width: 100%;
  height: 2000px;
  padding: 40px 0;
}

.project__image {
  background: red;
  width: 600px;
  height: 500px;
  margin: 40px auto;
}

.project__image-one {
  background: url(../img/nice.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.project__image-two {
  position: relative;
  top: -100px;
  left: -260px;
  background: url(../img/palolem.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.project__image-three {
  position: relative;
  left: 300px;
  background: url(../img/urugambay.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.project__image-four {
  position: relative;
  top: -200px;
  left: -100px;
  background: url(../img/elnido.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.project-next-link {
  position: relative;
  top: -100px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-next-link a {
  color: #fff;
  text-decoration: none;
  font-family: "Julius Sans One", sans-serif;
  font-size: 160px;
}

.anime-js-title .letter {
  display: inline-block;
  line-height: 1em;
}

@media (max-width: 900px) {
  .project__container-title h1 {
    font-size: 40px;
  }

  .project__container {
    width: 80%;
  }

  .project__container-images {
    width: 100%;
    margin: 0 auto;
  }

  .project__image {
    width: 90%;
  }

  .project__image-one,
  .project__image-two,
  .project__image-three,
  .project__image-four {
    position: relative;
    top: 0;
    left: 0;
  }
}
.icons {
  position: absolute;
}
.icons a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #fff;
  margin: 10px;
  border-radius: 50%;
  text-align: center;
}
div i {
  color: #87ceeb;
  margin-top: 10px;
}
div a {
  font-size: 30px;
}
a:hover {
  background: #87ceeb;
  transition: 0.8s;
}
a:hover i {
  color: #fff;
  transition: 1s;
  transform: scale(1.8);
}
.photo__efim {
  width: 500px;
  position: relative;
  left: 1100px;
  bottom: 350px;
}
